@import "hovercraft.css";

pre {
    font-size: 180%;
}

#title {
}

.part1, .part2, .part3 {
    font-size: 100%;
}

body.impress-on-clone_part1 .part1 {
    font-weight: bold;
}

body.impress-on-clone_part1 .part2,
body.impress-on-clone_part1 .part3 {
    opacity: 0.7;
}

body.impress-on-clone_part2 .part2 {
    font-weight: bold;
}

body.impress-on-clone_part2 .part1,
body.impress-on-clone_part2 .part3 {
    opacity: 0.7;
}

body.impress-on-clone_part3 .part3 {
    font-weight: bold;
}

body.impress-on-clone_part3 .part1,
body.impress-on-clone_part3 .part2 {
    opacity: 0.7;
}

ul {
    text-align: left;
}

#fs_table table {
    text-align: left;
}
#fs_table ul li {
    list-style-type: none;
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 100%;
}

.lie {
    color: red;
    font-size: 800%;
    opacity: 0;
    transition: ease-out 2s;
}

.active .lie {
    opacity: 0.7;
}

#docker_cloud_firewalled {
    opacity: 0;
}

#docker_cloud_firewalled.active {
    opacity: 1;
    transition: ease-in-out 2s;
    z-index: -1;
}

.strikethrough {
    text-decoration: line-through;
}

.block {
    text-align: left;
    font-family: monospace;
}

.cite {
    text-align: left;
}

.cite cite {
    display: block;
    text-align: right;
}

.cite_label {
    display: none;
}

#perfect em {
    top: -500px;
    transition: ease-in 0.5s 1s;
}

#perfect strong {
    left: 1000px;
    transition: ease-in 0.5s 1.5s;
}

#perfect.active em, #perfect.active strong {
    top: 0px;
    left: 0px;
    position: relative;
}

#formula {
    font-size: 250%;
    transition: ease-in 1s;
    position: relative;
    top: 0px;
}

#formula em {
    font-size: 50%;
    display: inline-block;
    width: 4em;
    vertical-align: middle;
    line-height: 0.9;
}

#formula tt {
    position: absolute;
    left: 420px;
    top: 50px;
    width: 0px;
    height: 0px;
    font-size: 50%;
}

.impress-on-formula_security #formula {
    top: -150px;
}

#formula_security {
    position: relative;
    top: +150px;
    opacity: 0;
    transition: ease-in 1s 1s;
}

#formula_security.active {
    opacity: 1;
}

#final_titles h1 {
    margin: 150px 0px;
}

.two-columns {
    width: 100%;
}
